@import "bootstrap/less/bootstrap";
@import "font-awesome/less/font-awesome";

@import "github/markdown";
@import "github/gist";

@import "app/home";
@import "app/search";

@FontAwesomePath: "fonts/fontawesome";

@green-play: #92d13d;

body {
  overflow-x: hidden;
}

form {
  margin: 0px !important;
}

.form-search .input-append .btn {
  vertical-align: middle;
}

header {
  border-top: 5px solid @green-play;
  padding: 20px;

  a {
    color: #454545;

    &:hover {
      color: #454545;
      text-decoration: none;
    }
  }

  .logo {
    width: auto;
    height: 50px;
  }

  .logo + span {
    font-size: 30px;
    vertical-align: middle;
    font-style: italic;
  }
}

.ribbon {
  margin: 0px -50%;
  text-align: center;
  padding: 20px;

  &.ribbon-main {
    padding-bottom: 100px;
    color: #fff;
    background-color: @green-play;
  }
}

section.main {
  position: relative;
  top: -75px;
  background-color: #fff;
  padding-top: 20px;
  box-shadow: 15px 0 15px -15px #444 , -15px 0 15px -15px #444;
}
