.home {
  .main {
    > .col {
      padding: 0px 30px;
    }

    h3 {
      font-style: italic;
      color: #454545;
      text-align: center;
    }

    p {
      text-align: center;
      font-size: 1.2em;
    }
  }
}

.search-bar-container {
  height: 54px;
}

.search-bar.fixed {
  z-index: 99;
  background: white;
  position: fixed;
  top: 0;
  margin-left: -20px;
  padding: 0 5px;
}

.tags {
  margin: 15px 0px;

  .tag {

    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      font-size: 16px;

      &:hover {
        color: @green-play;
        text-decoration: none;
      }
    }
  }
}
