.home {
  .main {
    > .col {
      padding: 0px 30px;
    }

    h3 {
      font-style: italic;
      color: #454545;
      text-align: center;
    }

    p {
      text-align: justify;
    }
  }
}

.tags {
  margin: 15px 0px;

  .tag {

    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      font-size: 16px;

      &:hover {
        color: @green-play;
        text-decoration: none;
      }
    }
  }
}
