.select2-container {
	width: 100% !important;

  .select2-search-field {
    position: relative;
    top: -5px;
  }
}

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 5px 5px 5px 18px;
}

.input-group {
	.select2-container:first-child [class^="select2-choice"] {
		.border-right-radius(0);
	}

	.select2-container:last-child [class^="select2-choice"] {
		.border-left-radius(0);
	}
}

.input-large [class^="select2-choice"] {
  padding: (@padding-large-vertical - 3) (@padding-large-horizontal - 5);
  font-size: @font-size-large;
  border-radius: @border-radius-large;
}

.input-small [class^="select2-choice"] {
  min-height: @input-height-small;
  padding: @padding-small-vertical @padding-small-horizontal;
  font-size: @font-size-small;
  border-radius: @border-radius-small;
}

@select2-path: "/assets/images/vendors/select2";

.select2-container .select2-choice abbr {
	background: url('@{select2-path}/select2.png') right top no-repeat;
}

.select2-container .select2-choice div b {
  background: url('@{select2-path}/select2.png') no-repeat 0 1px;
}

.select2-search input {
  background: #fff url('@{select2-path}/select2.png') no-repeat 100% -22px;
  background: url('@{select2-path}/select2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url('@{select2-path}/select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('@{select2-path}/select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('@{select2-path}/select2.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url('@{select2-path}/select2.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
  background: url('@{select2-path}/select2.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.select2-search input.select2-active {
  background: #fff url('@{select2-path}/select2-spinner.gif') no-repeat 100%;
  background: url('@{select2-path}/select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url('@{select2-path}/select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('@{select2-path}/select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('@{select2-path}/select2-spinner.gif') no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url('@{select2-path}/select2-spinner.gif') no-repeat 100%, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
  background: url('@{select2-path}/select2-spinner.gif') no-repeat 100%, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.select2-more-results.select2-active {
  background: #f4f4f4 url('@{select2-path}/select2-spinner.gif') no-repeat 100%;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #fff url('@{select2-path}/select2-spinner.gif') no-repeat 100% !important;
}

.select2-search-choice-close {
  background: url('@{select2-path}/select2.png') right top no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)  {
  .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice div b {
      background-image: url('@{select2-path}/select2x2.png') !important;
  }
}