@()

<div class="home">
    <section class="ribbon ribbon-main">
        <h2>About us</h2>
    </section>

    <section class="main">
        <div class="row">
            <div class="col-12">
                <h3>Incoming: the awesome team behind Play by examples</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h3>This project is build using uber awesome stuff</h3>
                <div id="techCloud"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h3>A huge thanks to all contributors of the project!</h3>


            </div>
        </div>

        <div data-ng-include="'/templates/footer'"></div>
    </section>
</div>
