@()

<div class="home">
    <section class="ribbon ribbon-main">
        <h2>About us</h2>
    </section>

    <section class="main">
        <div class="row">
            <div class="col-12">
                <h3>Incoming: the awesome team behind Play by examples</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h3>This project is build using uber awesome stuff</h3>
                <div id="techCloud"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 contributors">
                <h3>A huge thanks to all contributors of the project!</h3>

                {{contributors}}

                <ul class="media-list" data-ng-repeat="c in contributors | orderBy:'-total'">
                  <li class="media">
                    <a class="pull-left" data-ng-href="{{c.author.html_url}}">
                      <img class="media-object" data-ng-src="{{c.author.avatar_url}}">
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">{{c.author.login}}</h4>
                    </div>
                  </li>
                </ul>
            </div>
        </div>
    </section>
</div>
