@()

    <section class="ribbon ribbon-main">
      <div class="container">
        <h2>@Messages("html.about.title")</h2>
      </div>
    </section>

<div class="home container">
    <section class="main">
        <div class="row left-about">
            <div class="col-12">
                <p>
                    @Html(Messages("html.about.instance"))<br/>@Messages("html.about.focus")
                </p>
            </div>
        </div>
        <div class="separator"><div class="inner"></div></div>
        <div class="row left-about">
            <div class="col-12">
                <h3>@Messages("html.about.how")</h3>
                <br/>
                <h4>@Messages("html.about.share")</h4>
                <p>@Html(Messages("html.about.fork", Application.ROOT_GIST_URL))</p>
                <br/>
                <h4>@Messages("html.about.search")</h4>
                <p>@Html(Messages("html.about.type"))</p>
                <p>@Html(Messages("html.about.autocomplete"))</p>
                <p><b>@Messages("html.about.navigate")</b></p>
            </div>
        </div>
        <div class="separator"><div class="inner"></div></div>
        <div class="row left-about">
            <div class="col-12">
                <h3>@Messages("html.about.team")</h3>
                <br/>
                <p>@Html(Messages("html.about.team.jba"))</p>
                <p>@Html(Messages("html.about.team.pdi"))</p>
                <p>@Html(Messages("html.about.team.gre"))</p>
                <p>@Html(Messages("html.about.team.pvo"))</p>
            </div>
        </div>
        <div class="separator"><div class="inner"></div></div>
        <div class="row left-about">
            <div class="col-12">
                <h3>@Messages("html.about.tech")</h3>
                <div id="techCloud"></div>
            </div>
        </div>
        <div class="separator"><div class="inner"></div></div>
        <div class="row left-about">
            <div class="col-12 contributors">
                <h3>@Html(Messages("html.about.contributors"))</h3>

                <div class="media-list">
                  <div class="media" data-ng-repeat="c in contributors | orderBy:'-total'">
                    <a class="pull-left" data-ng-href="{{c.author.html_url}}">
                      <img class="media-object" data-ng-src="{{c.author.avatar_url}}"/>
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">{{c.author.login}}</h4>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
</div>
