@()

<div class="home">
    <section class="ribbon ribbon-main">
        <h2>
          {{sentence}}
          <a href="@Application.ROOT_GIST_URL" class="btn btn-small btn-link">Create a snippet</a>
        </h2>
    </section>

    <section class="main">
        <div class="row">
            <div class="col-6">
            </div>
        </div>

        <div class="search-bar-container">
        <div class="row search-bar container">
                <div data-ng-include="'/templates/searchForm'"></div>
        </div>
        </div>

        <div class="row tags">
            <div class="col-sm-2 tag" data-ng-repeat="tag in searchData.tags">
                <a data-ng-href="/?q=%23{{tag.term}}">#{{tag.term}}</a>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ul class="list-unstyled">
                    <li data-ng-repeat="gist in searchResults.hits.hits">
                        <gist value="gist"></gist>
                    </li>
                </ul>
                <div id="results2"><ul class="list-unstyled"></ul></div>
                <div id="resultScripts2"></div>
            </div>
        </div>
    </section>
</div>
