@()

<div class="home">
    <section class="ribbon ribbon-main">
        <h2>What kind of developer are you right now?</h2>
    </section>

    <section class="row main">
        <div class="col col-lg-6">
            <h3>I'm an artist!</h3>
            <p>
                What are you waiting for? Click on the following button, read the Gist if it's your first time, and start crafting your next masterpiece!
            </p>
            <a href="@Application.ROOT_GIST_URL" class="btn btn-default btn-large btn-block">Create a snippet</a>
        </div>

        <div class="col col-lg-6">
            <h3>I'm an adventurer!</h3>
            <p>
                That's the spirit! Just start typing on the following input and let the journey begin inside a world of awesome code snippets.
            </p>
            <div data-ng-include="'searchFormTemplate'"></div>
        </div>
    </section>
</div>
