@()

<div class="home">
    <section class="ribbon ribbon-main">
      <a href="@Application.ROOT_GIST_URL" class="btn btn-small btn-default pull-right">Create a snippet</a>
        <h2>
          Gists for all, all for Play!
        </h2>
    </section>

    <section class="main">

        <div class="description">
          <p>
          <strong>Share</strong> your <a href="http://playframework.com" target="_blank">Playframework</a> code snippets by <a href="@Application.ROOT_GIST_URL">forking this gist</a> or <strong>Browse</strong> people code snippets.
          </p>
        </div>

        <div class="search-bar-container">
        <div class="row search-bar container">
                <div data-ng-include="'/templates/searchForm'"></div>
        </div>
        </div>

        <div class="row tags">
            <div class="col-sm-2 tag" data-ng-repeat="tag in searchData.tags">
                <a data-ng-href="/?q=%23{{tag.term}}">#{{tag.term}}</a>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ul class="list-unstyled">
                    <li data-ng-repeat="gist in searchResults.hits.hits">
                        <gist value="gist"></gist>
                    </li>
                </ul>
                <div id="results2"><ul class="list-unstyled"></ul></div>
                <div id="resultScripts2"></div>
            </div>
        </div>
    </section>
</div>

<div class="scrollIndicator" ng-hide="searchResults.hits.hits">
  <a href="">
    <i class="icon-4x icon-double-angle-down"></i>
  </a>
</div>
