@()

<div class="search">
  <section class="ribbon ribbon-main">
  		<div class="container">
	      <div class="row">
	      	<div class="col col-lg-6">
	      		<h2>{{data.result.hits.total}} results in {{data.result.took}}ms</h2></div>
	      	<div class="col col-lg-6">
	      		<div data-ng-include="'searchFormTemplate'"></div>
	      	</div>
	      </div>
      </div>
  </section>

	<section class="row main">
		<div class="col col-lg-0">
		</div>
		<div class="col col-lg-12">
			<div id="results"><ul class="list-unstyled"></ul></div>
    	<div id="resultScripts"></div>
		</div>
	</section>
</div>
